<div class="text-center my-md-5">
  <h1>Studio Ghibli Movies</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center" *ngFor="let m of movies">
      <div class="card mt-3" style="width: 18rem" routerLink="/movie/{{m.id}}">
        <div class="card-body">
          <h4 class="card-title">{{m.title}}</h4>
        </div>
        <img class="card-img-top" [src]="m.movie_banner" alt="Card image cap">
      </div>
    </div>
  </div>
</div>

<!-- lalalalla

<div class="container">
  <div class="row">
    <div class="col-md-4 my-md-3 justify-content-center" *ngFor="let m of movies">
      <div class="card" style="width: 18rem" routerLink="/movie/{{m.id}}">
        <img class="card-img-top" [src]="m.movie_banner" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{m.original_title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Romanised Name: {{m.original_title_romanised}}</li>
          <li class="list-group-item">Time: {{m.running_time}}</li>
          <li class="list-group-item">: {{m.producer}}</li>
          <li class="list-group-item">Genero: {{m.director}}</li>
          <li class="list-group-item">Fecha: {{m.release_date | date: 'dd/MM/yyyy'}}</li>
        </ul>

        <select class="list-group-item">
          <option value="" *ngFor="let e of movies;let i = index"><a [href]="e">Episodio {{i + 1}}</a></option>
        </select>
</div>
</div>
</div>
</div>

-->
